MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/jobsphere?retryWrites=true&w=majority
JWT_SECRET=jobsphere_super_secret_key_2024_eliphaz
PORT=5000
ADMIN_EMAIL=eliphaz@gmail.com
ADMIN_PASSWORD=eliphaz2527#
NODE_ENV=development
